* {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
	font-family: 'Noto Sans', sans-serif;
	color: #f7f7f7;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 39%,
		rgba(0, 212, 255, 1) 100%
	);
}

.container {
	border-radius: 5px;
	align-items: center;
	align-content: center;
	width: 1280px;
	background-color: rgb(103, 78, 245);
	padding: 10px;
}

.header {
	text-align: center;
}

.main {
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}

.color {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.color .box {
	height: 150px;
	width: 13%;
	margin-left: 25px;
	padding: 5px;
	background-color: aqua;
	border-radius: 5px;
	border: 3px solid white;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.navbar {
	width: 100%;
	position: relative;
}

.result {
	clear: both;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.navbar ul {
	list-style: none;
}

.navbar ul li {
	float: left;
	margin-left: 25px;
	margin-bottom: 10px;
}

.navbar ul li a {
	color: #f7f7f7;
	font-weight: 500;
	text-decoration: none;
}

.navbar .retry {
	float: right;
}
